{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <form action="/history" method="post">
        <table>
            
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Transacted</th>
                </tr>
            </thead>
            
            <tbody>
                {% for i in rows %}
                    <tr>
                        <td>{{ i.symbol }}</td>
                        <td>{{ i.shares }}</td>
                        <td>{{ i.price }}</td>
                        <td>{{ i.time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}


                
                
